
@{
    Layout = "~/Views/Matkris/_MainLayout.cshtml";
}
    @Html.Partial("meny")
    <div> 
    </div>

    <script>
        //$(document).ready(function () {
        //    $('#menu-state-business').addClass('active');
        //})
    </script>

