
@{
    Layout = "~/Views/Matkris/_MainLayout.cshtml";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3 bg-default">
        <div class="center-block">
            @using (Html.BeginForm("Foretag", "Matkris", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <h2 class="form-signin-heading">Logga in</h2>
                    <input type="text" class="form-control" name="email" placeholder="Emailadress" required="" autofocus="" />
                    <input type="password" class="form-control" name="password" placeholder="Lösenord" required="" />
                    <button class="btn btn-primary btn-block" type="submit">Login</button>
            }
        </div>
    </div>
</div>

<script>
    //$(document).ready(function () {
    //    $('#menu-state-business').addClass('active');
    //})
</script>

