
@{
    ViewBag.Title = "index";
    Layout = "~/Views/matkris/_MainLayout.cshtml";
}

<div class="row">
    <div class="col-sm-offset-1 col-sm-10 col-xs-12">
        <div class="row justify-content-md-center">
            <div class="col-sm-12 col-xs-12">
                <h2>index</h2>

                <div class="row justify-content-md-center">
                    <div class="col-md-9 col-xs-12">
                        <div class="input-group">
                            <input type="text" class="form-control no-fixed-height" placeholder="Sök efter produkter..." id="searchfield">
                            <div class="input-group-btn">
                                <button class="btn btn-default" disabled style="cursor:default">
                                    <span class="glyphicon glyphicon-search">
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-md-center">
                    <div id="product-search" class="col-md-9 col-xs-12">

                        <ul class="list-group flex-container list-special">
                            <li class="list-group-item justify-content-between flex-item clearfix">
                                <img class="product-image img-responsive" src="https://d1hr6nb56yyl1.cloudfront.net/product-images/7912-150.jpg" />
                                <div class="pull-right mobile-version">
                                    <p class="product-name text-right">Oregano Santa Maria, 5 g</p>
                                    <p class="product-price text-right text-primary dp-block">32,95:-</p>
                                    <p class="product-jmf text-right text-muted small">jmf.pris: 3650:-/kg</p>
                                </div>

                            </li>
                            <li class="product-name list-group-item justify-content-between flex-item clearfix">
                                Oregano Santa Maria, 5 g
                            </li>
                            <li class="list-group-item justify-content-between flex-item clearfix">
                                <span class="product-price text-primary dp-block">32,95:-</span>
                                <span class="product-jmf text-muted small">jmf.pris: 3650:-/kg</span>
                            </li>
                            <li class="list-group-item justify-content-between flex-item clearfix">
                                
                                <input class="product-count form-control" type="number" min="1" max="99" value="1" />
                                <span class="text-right text-muted">st</span>
                            </li>
                            <li class="list-group-item justify-content-between flex-item clearfix">
                                <input class="product-btn-add btn btn-default" type="button" value="Lägg till" />
                            </li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script>
    $("#searchfield").on("keyup", function (e) {

        var searchvalue = $("#searchfield").val();

        $.ajax({
            url: "/matkris/search",
            type: "POST",
            data: { searchterm: searchvalue },
            success: function (topproducts) {
                listproducts(topproducts);
            }
        });
    });

    function listproducts(products) {
        for (i = 0; i < products.length; i++) {
            $('#product-search').html('');
            $('#product-search').append
                (
                    '<ul id="product-id-'+ i +'" class="list-group flex-container list-special">' + 
                    ' <li class="list-group-item justify-content-between flex-item clearfix"> ' +
                        '<img class="product-image img-responsive" src="'+ products[i].BildURL + '" />' +
                        'div class="pull-right mobile-version">' + 
                            '<p class="product-name text-right">' + products[i].Produktnamn + '</p>' + 
                            '<p class="product-price text-right text-primary dp-block">' + products[i].Pris + '<span>:-</span></p>' +
                            '<p class="text-right text-muted small">jmf.pris: <span class="product-jmf">' + products[i].Jmf + '</span>:-/kg</p>' +
                        '</div>' +
                    '</li>' +
                    '<li class="product-name list-group-item justify-content-between flex-item clearfix">' + products[i].Produktnamn + '</li>' + 
                    '<li class="list-group-item justify-content-between flex-item clearfix">' +
                        '<span class="product-price text-primary dp-block">' + products[i].Pris + ':-</span>' +
                        '<span class="product-jmf text-muted small">jmf.pris: <span class="product-jmf">' + products[i].Jmf + '</span>:-/kg</span>' +
                    '</li>' +
                    '<li class="list-group-item justify-content-between flex-item clearfix">' +
                        '<input class="product-count form-control" type="number" min="1" max="99" value="1" />' +
                        '<span class="text-right text-muted">st</span>' +
                    '</li>' +
                    '<li class="list-group-item justify-content-between flex-item clearfix">' +
                        '<input class="product-btn-add btn btn-default" type="button" value="Lägg till" />' +
                    '</li>' +
                    '</ul>'   
                )
        }
    }
</script>
