
@{
    ViewBag.Title = "index";
    Layout = "~/Views/matkris/_MainLayout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <div class="row justify-content-md-center">

            <div class="col-md-7 col-xs-12">
                <div class="justify-content-md-center">
                    <h2>index</h2>
                    <div class="input-group">
                        <input type="text" class="form-control no-fixed-height" placeholder="Sök efter produkter..." id="searchfield">
                        <div class="input-group-btn">
                            <button class="btn btn-default" disabled style="cursor:default">
                                <span class="glyphicon glyphicon-search">
                                </span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="justify-content-md-center">
                    <div id="product-search">
                    </div>
                </div>
            </div>

            <div id="checkout-wrapper" class="col-xs-12 col-md-5" style="display:none">
                <h2>Inköpslista</h2>
                <div class="checkout-list">
                </div>
                <div class="row text-center btn-space">
                    <button class="btn btn-primary">Beräkna kostnad</button>
                </div>
            </div>

        </div>
    </div>

</div>


<script>
    (function () {
        var searchList = {};

        function addProductToCheckout(searchIndex) {
            var prod = searchList[searchIndex];
            alert(prod.Produktnamn);
        };

        function listProducts() {

            $('#product-search').html('');
            for (i = 0; i < searchList.length; i++) {
                $('#product-search').append
                    (
                        '<ul class="list-group flex-container list-special">' +
                        ' <li class="list-group-item justify-content-between flex-item clearfix"> ' +
                            '<img class="product-image img-responsive" src="' + searchList[i].BildURL + '" />' +
                            '<div class="pull-right mobile-version">' +
                                '<p class="product-name text-right">' + searchList[i].Produktnamn + '</p>' +
                                '<p class="product-price text-right text-primary dp-block">' + searchList[i].Pris + '<span>:-</span></p>' +
                                '<p class="text-right text-muted small">jmf.pris: <span class="product-jmf">' + searchList[i].Jmf + '</span>:-/kg</p>' +
                            '</div>' +
                        '</li>' +
                        '<li class="product-name list-group-item justify-content-between flex-item clearfix">' + searchList[i].Produktnamn + '</li>' +
                        '<li class="list-group-item justify-content-between flex-item clearfix">' +
                            '<span class="product-price text-primary dp-block">' + searchList[i].Pris + ':-</span>' +
                            '<span class="product-jmf text-muted small">jmf.pris: <span class="product-jmf">' + searchList[i].Jmf + '</span>:-/kg</span>' +
                        '</li>' +
                        '<li class="list-group-item justify-content-between flex-item clearfix">' +
                            '<input class="product-count form-control" type="number" min="1" max="99" value="1" />' +
                            '<span class="text-right text-muted">st</span>' +
                        '</li>' +
                        '<li class="list-group-item justify-content-between flex-item clearfix">' +
                            '<input id="product-id-' + i + '" class="product-btn-add btn btn-default" type="button" value="Lägg till" />' +
                        '</li>' +
                        '</ul>'
                    )
            }

            $(".product-btn-add").on("click", function () {
                var index = this.id.charAt(this.id.length - 1);

                addProductToCheckout(index);
            })
        };

        function searchProducts() {
            var searchvalue = $("#searchfield").val();

            $.ajax({
                url: "/matkris/search",
                type: "POST",
                data: { searchterm: searchvalue },
                success: function (toproducts) {
                    searchList = toproducts;
                    listProducts();
                }
            });
        };

        $("#searchfield").on("keyup", function (e) {
            searchProducts();
        });
    })();
</script>
