
<div class="navbar navbar-default navbar-static-top menu">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index">Matkris.se</a>
        </div>
        <center>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li class="menu-item-click @if (Request.RawUrl.ToLower().Contains("index")) {<text>active</text> }" id="menu-state-private"><a href="index">Hem</a></li>
                    <li class="menu-item-click @if (Request.RawUrl.ToLower().Contains("foretag") || Request.RawUrl.ToLower().Contains("uppladdning")) {<text>active</text> }" id="menu-state-business"><a href="foretag">Företag</a></li>
                </ul>
                @if (Request.RawUrl.ToLower().Contains("matkris/uppladdning"))
                {
                    using (Html.BeginForm("logout", "matkris", FormMethod.Post, new { @class = "navbar-right" }))
                    {
                        <p class="navbar-text">Inloggad som <span id="username" style="font-weight:600"></span></p>
                        <button id="menu-logout" class="btn btn-default navbar-btn btn-sm" type="submit">Logga ut</button>
                    }
                }

                @if ((Request.RawUrl.ToLower() == "/matkris/index") || (Request.RawUrl.ToLower() == "/matkris/"))
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-shopping-cart"></span> <span id="dropdown-item-count">0</span> - Varor <span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-cart" role="menu">
                                <li id="checkout-list">
                                    
                                </li>
                                <li class="divider"></li>
                                <li><a class="text-center" href="">Beräkna kostnad</a></li>
                            </ul>
                        </li>
                    </ul>
                }
            </div>
        </center>
    </div>
</div>