<nav class="navbar navbar-default menu">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Matkris.se</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="menu-item-click" id="menu-state-private"><a href="privat">Privat</a></li>
                <li class="menu-item-click" id="menu-state-business"><a href="foretag">Företag</a></li>
            </ul>
        </div>
    </div>
</nav>