@model String

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.1.1.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" type="text/css" />
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <title>Upload</title>
</head>
<body>
    <div class="container">
        @using (Html.BeginForm("Upload", "Matkris", FormMethod.Post, new { enctype = "multipart/form-data", @id = "UploadFormSubmit" }))
        {
            <div class="form-group">
                <input class="form-control" type="file" name="browseFile" />
                <input class="form-control" type="submit" value="Ladda upp" name="submitFile" />
            </div>
        }
        @*}*@
    </div>
    <div id="responseMessage">
        <p>@Model</p>
    </div>
</body>
</html>
