@model String

@{
    Layout = "~/Views/Matkris/_MainLayout.cshtml";
}

<div class="row">
    <div class="col-sm-offset-1 col-sm-10 col-xs-12">
        @using (Html.BeginForm("Upload", "Matkris", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
            <div class="row justify-content-md-center">
                <div class="col-sm-10 col-xs-12">
                    <h2 class="form-signin-heading">Produktlistan</h2>
                </div>
            </div>

            <div class="row justify-content-md-center">
                <div class="col-sm-9 col-xs-12 margin-15-bot">
                    <div class="input-group">
                        <label class="input-group-btn">
                            <span class="btn btn-primary">
                                Välj fil: <input type="file" style="display: none;" name="browseFile">
                            </span>
                        </label>
                        <input input class="form-control" readonly disabled="disabled">
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <input class="btn btn-success btn-100-width" type="submit" value="Ladda upp" name="submitFile" id="submitFile" disabled />
                </div>
            </div>

            <div class="row row-grid justify-content-md-center">

            </div>
        }
    </div>
</div>

<div class="row">
    <div class="col-sm-offset-1 col-sm-10 col-xs-12">
        <div id="responseMessage" class="well">
            <p>@Model</p>
            <p>asd 123 5151 1231 2332</p>
        </div>
    </div>
</div>

