@model IList<string>

@{
    Layout = "~/Views/Matkris/_MainLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Upload</title>
</head>
<body>
    <div class="container">
        @using (Html.BeginForm("Upload", "Matkris", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="input-group">
                <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Välj fil: <input type="file" style="display: none;" name="browseFile">
                    </span>
                </label>
                <input input class="form-control" readonly disabled="disabled">
            </div>
            <input class="form-control" type="submit" value="Ladda upp" name="submitFile" id="submitFile" disabled />
        }

        <div id="responseMessage">
            @if (Model != null)
            {
                foreach (var error in Model)
                {
                    <p>@error</p>
                }
            }
        </div>
    </div>
    <script>
        $(function () {
            $(document).on('change', ':file', function () {
                var input = $(this),
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', label);
                if (label != "") {
                    $("#submitFile").prop("disabled", false);
                }
                else {
                    $("#submitFile").prop("disabled", true);
                }
            });

            $(document).ready(function () {
                $(':file').on('fileselect', function (event, label) {

                    var input = $(this).parents('.input-group').find(':text'),
                        log = label;

                    if (input.length) {
                        input.val(log);
                    } else {
                        if (log) alert(log);
                    }
                });
            });

        });
    </script>
</body>
</html>
