@model IList<string>

@{
    Layout = "~/Views/Matkris/_MainLayout.cshtml";
}

<div class="row">
    <div class="col-sm-offset-1 col-sm-10 col-xs-12">
        @using (Html.BeginForm("Upload", "Matkris", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
            <div class="row justify-content-md-center">
                <div class="col-sm-10 col-xs-12">
                    <h2 class="form-signin-heading">Produktlistan</h2>
                </div>
            </div>

            <div class="row justify-content-md-center">
                <div class="col-sm-9 col-xs-12 margin-15-bot">
                    <div class="input-group">
                        <label class="input-group-btn">
                            <span class="btn btn-primary">
                                Välj fil: <input type="file" style="display: none;" name="browseFile">
                            </span>
                        </label>
                        <input input class="form-control" readonly disabled="disabled">
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <input class="btn btn-success btn-100-width" type="submit" value="Ladda upp" name="submitFile" id="submitFile" disabled />
                </div>
            </div>

            <div class="row row-grid justify-content-md-center">

            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-1 col-sm-10 col-xs-12">
        @if (Model != null)
        {
            if (Model.Count == 0)
            {
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading"><span class="glyphicon glyphicon-check"></span> Uppladdning godkänd!</h4>
                    <p class="">Era produkter kommer inom kort att dyka upp i vår sökmotor med dess aktuella priser. </p>
                    <p class="mb-0">Gå vidare till <a href="index">startsidan</a>.</p>
                </div>
            }
            else
            {
                foreach (var error in Model)
                {
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-ban-circle"></span>
                        <h4 class="alert-heading">Felmeddelande på rad{ErrorRow}<!--TODO--></h4>
                        <p class="mb-0" style="word-wrap:break-word;">@error</p>
                    </div>
                }

            }

        }
        else
        {

        }
    </div>
</div>

@*<div class="row">
        <div class="col-sm-offset-1 col-sm-10 col-xs-12">
            <div id="responseMessage" class="well">

            </div>
        </div>
    </div>*@

