
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    <div> 
        <h2>Crawl</h2>
        <input type="button" value="MSE" onclick="location.href='@Url.Action("MSE", "crawl")'" />
        <input type="button" value="MHS" onclick="location.href='@Url.Action("MHS", "crawl")'" />
    </div>
</body>
</html>
